@page
@model AboutModel
@{
    ViewData["Title"] = "Checklist";
}

<h4>
    Name
</h4>
<p>CheckList</p>

<h4>
    Description
</h4>
<p>The CheckList is created to hold items to be completed. This is a ASP.NET core 3.1 Web Application. The project is created using Razor Pages and implements RestAPI calls. The data is held in a table created in a workspace on Airtable. </p>

<h4>
    Requirements
</h4>
<p>
    <li>Airtable.browser.js </li>
    <li>Newtosoft.Json </li>
</p>
<h4>
    Installation
</h4>
    <li>Airtable.browser.js </li>
<p>Retrieve this file from https://github.com/Airtable/airtable.js </p>
    <li>Newtosoft.Json </li>
    <p>Retrieve the Nuget package using the Nuget Package Manager using Visual Studio. </p>
<h4>Usage</h4>
<p>
    This project can be used to add items to checklist, check ones that are completed, edit an item and remove items from the list. 
</p>
<h4>
    Roadmap
</h4>
<p>
    This project can be improved by:
</p>
    <li>adding the ability to create new lists meant for different purposes.</li>
    <li>adding a feature of due date for each item in the list.</li>
<h4>Author</h4>
<p>
    Candice Gomes
</p>